/*************************************
*文件名称：list.css
*作者：冯艳红
*制造日期：09-07
*联系方式：fengyanhong@ceopen.cn
*内容概要：列表
*************************************/

html{overflow-x:hidden;overflow-y:auto;}
.list-container{padding:6px;}
.form-container{padding:15px;}
/*路径*/
.page-top-bar{width:100%;height:21px;background:#c7d8e1 url(../images/others/img-path.gif) no-repeat 5px;margin-bottom:1px}
.path{float:left;margin-left:28px;_margin-left:15px;color: #0C4F5A;}
.path a{color: #0C4F5A;	text-decoration: underline;}
.path a:hover{color: #0C4F5A;
font-weight: bold;
text-decoration: underline;}		 
.path span{margin:0 5px 0 5px;line-height:21px;}
.page-control{float:right;padding-right:3px;}
.page-control a{padding: 0 4px 0 4px;border: 1px solid #c7d8e1;}
.page-control a:hover{padding: 0 4px 0 4px;}
.page-control img{padding:1px 0 2px 0;}
/*视图、帮助*/
.function-bar{width:100%;height:24px;background:url(../images/background/bg-function-bar.gif) repeat-x;clear:both;}
.business-info{float:left;line-height:24px;text-indent:5px;}
.form-function{float:right;padding:0px 0 3px;}
.form-function a{padding: 1px 4px 1px 4px;border: 1px solid #b4ccd9;}
.form-function a:hover {padding: 1px 4px 1px 4px;}
.form-function img{padding:1px 0 2px 0;}
/*搜索栏*/
.list-search ul{padding:2px 0px 10px 5px !important;_padding:4px 0px 5px 5px;height:26px;clear:both;}
.list-search li{float:left;margin-right:10px;display:inline;}
.list-search li img{cursor:pointer;margin-left:5px;}
.list-search li label{height:25px;line-height:25px;}
.list-search li select{margin-top:2px;}
.list-search li div li{margin:0;}
.list-search li.search-btn-area{margin-top:-2px;_margin-top:-3px;}
.list-search li.search-btn-area div{float:left;margin:0;}
/*工具栏*/
.toolbar{width:100%-1;height:24px;background:url(../images/background/bg-toolbar.gif) repeat-x;border:1px solid #babfc0;}
.list-title{float:left;margin-top:5px;font-weight:bold;}
.toolbar ul{float:right;padding:1px 1px 0 3px;}
.toolbar li a{padding: 2px 4px 2px 4px;border:1px solid #e1e4e6;}
.toolbar a:hover {padding: 2px 4px 2px 4px;}
.toolbar li a img{vertical-align: bottom;*vertical-align: middle;}
.toolbar-line {width: 10px;height:20px;background: url(../images/others/img_toolbar-line.gif)  repeat-x; }
.page-control li, .form-function li, .toolbar li{float:left;}
.form-function span, .toolbar span, .page-control span{margin-left:5px;}
.page-control a, .form-function a, .toolbar li a{color: #000;display:block;text-decoration: none;cursor: pointer;}
.page-control a:hover, .toolbar a:hover, .form-function a:hover{color: #000;text-decoration: none;background-color:#FFEFA7;border: solid 1px #FFC740;}
/*列表补充*/


.grid-weight{width:100%;}
/*表单标题间分隔高度*/
.grid-bottom{margin-bottom:15px;}
/*分组标题*/
.form-title{width:100%-1;height:15px;background:url(../images/background/bg-form-title-line.gif) repeat-x bottom; margin-bottom:15px;}
.form-title-bottom {width:100%-1;height:1px; font-size:1px; background:url(../images/background/bg-form-title-line.gif) repeat-x bottom; margin-bottom:15px;}
.form-title-into{background-color:#fff;float:left;font-weight:bold; height: 15px;}
.form-choose{float:right;margin-top:-0px;_margin-top:-0px;cursor:pointer; position:relative;bottom:4px;}
.form-choose img{margin-right:5px;}

hr{width:95%;margin:0 auto;background-color:#ccc;border:none;height:1px;}
/*失败提示*/
.error-info{width:96%;_width:auto;background-color:#e9f1f3;border:1px solid #1b5674;padding:15px;margin-bottom:16px;display:inline-block;}
.error-info img{float:left;margin-right:20px;}
.error-info ul{float:left;}
.error-summary{color:#ff0000;font-size:14px;margin-bottom:3px;}
/*表单命令按钮*/
.main-form-btn{margin:0 auto;text-align:center;position:absolute;left:50%;margin-left:-90px;height:45px;}
.main-form-btn div{float:left;margin-top:10px;}